<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>

<body>
<h1>Will Burger Movies</h1>

<h2 th:each="genre:${genres}"><a th:href="@{'/genres/'+ ${genre.category}}" th:text="${genre.category}">Genre</a>
</h2>
<form action="add-genre" method="POST">
    <input name="category" type="text">
    <button type="submit">Add Genre</button>
</form>



</body></html>